// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;


@mixin mq($alias) {
    @if $alias=='tablet' {
        @media #{$tablet} {
            @content;
        }
    }

    @else if $alias=='lap' {
        @media #{$lap} {
            @content;
        }
    }

    @else if $alias=='desk' {
        @media #{$desk} {
            @content;
        }
    }

    @else if $alias=='widescreen' {
        @media #{$widescreen} {
            @content;
        }
    }

    @else if $alias=='mobile-only' {
        @media #{$mobile-only} {
            @content;
        }
    }

    @else if $alias=='xl' {
        @media #{$xl} {
            @content;
        }
    }

    @else if $alias=='xxl' {
        @media #{$xxl} {
            @content;
        }
    }
}